{% extends 'page_template.html' %}
{% load static %}
{% block heading %}
<title>About</title>
<style>
  .w-webflow-badge {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  .question {
    color: var(--first-color-dark);
    font-family: "Cormorant" !important;
  }

  .about-text-wrapper {
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
    background-color: #f1ece4;
  }

  .about-text-wrapper p:first-child {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .about-text-wrapper p {
    letter-spacing: 0.1px;
    line-height: 29px;
  }

  .top-margin {
    margin-bottom: 2.5rem;
  }

  a:hover {
    color: white !important;
  }

  .post-link:hover {
    color: #e3a240 !important;
  }

  @media screen and (max-width: 576px) {
    .feature {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .mel-diff h2 {
      font-size: 32px;
    }
  }
</style>
{% endblock %}
{% block content %}
  <!-- hero section -->
  <div style="
          -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        " class="on-load">
    <div id="Top" class="hero about-us wf-section">
      <div class="hero-book-form w-form">
        <div class="success-message-absolute w-form-done">
          <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
          <div class="top-margin _10-pixels">
            <div>Thank you! Your submission has been received!</div>
          </div>
        </div>
        <div class="hero-error-form w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>

      <div style="
              -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              opacity: 0;
            " class="on-load-4"></div>
      <div class="hero-bg about-us">
        <div class="max-400-pixels">
          <div style="
                  -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                  opacity: 0;
                " class="on-load">
            <div class="text-white capitalize font-bold mb-3">ABOUT US</div>
          </div>
          <div style="
                  -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                  opacity: 0;
                " class="on-load-2">
            <h1 class="hero-h1">{{ hero_section.header }}</h1>
          </div>
          <div class="top-margin _15-pixels">
            <div style="
                    -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                  " class="on-load-3">
              <a data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf2e" href="#" class="button w-button" style="
                      background-color: var(--third-color-dark);
                      border: none;
                    ">Get Started</a>

              <!-- <a href="#Intro" class="button w-button scroll-down">Scroll down</a> -->
            </div>
          </div>
        </div>
        <div class="hero-bottom"></div>
      </div>
      <div class="hero-bottom-white"></div>
    </div>
  </div>

  <div style="width: 100%; background-color: #f1ece4">
    <div class="about-text-wrapper">
      <p style="margin-top: 1rem">{{ about_intro.detail_top }}</p>
      <p>{{ about_intro.detail_bottom }}</p>
    </div>
  </div>

  <!-- Melscape difference -->
  <div class="content-section mel-diff">
    <div class="content-wrapper w-container">
      <div data-w-id="e89c6d9b-4a9c-349c-1dd2-841ee48a3fef" class="features-block">
        <div class="mb-20">
          <div class="top-margin _15-pixels w-full">
            <h2 class="text-center" style="text-align: center">How we can help</h2>
            <div class="underline center"></div>
          </div>
        </div>
        <div class="narrow-wrapper">
          <div class="flex">
            {% for use_case in use_cases %}
            <div data-w-id="58558fcf-bfa6-ef25-fa87-7b88aa267f12" style="opacity: 1" class="feature">
              <div>
                <div class="heart-icon">
                  <!-- <ion-icon name="key-outline"></ion-icon> -->
                  <img src="{{ use_case.icon.url }}" alt="" />
                </div>
                <!-- <h5>Complete Turnkey Solutions</h5> -->
                <div class="underline center"></div>
              </div>
              <div class="feature-text-box">
                <p class="text-big">{{ use_case.description }}</p>
              </div>
            </div>
            {% endfor %}
            {% comment %} <div data-w-id="f9048cd7-a67b-365b-8593-3875e8368850" style="opacity: 1" class="feature">
              <div>
                <div class="chat-icon">
                  <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
                  <img src="{% static '/images/icons/Group-2293.svg' %}" alt="" />
                </div>
                <!-- <h5>24/7 Full Support</h5> -->
                <div class="underline center"></div>
              </div>
              <div class="feature-text-box">
                <p class="text-big">Need expertise on managing your property on platforms like Airbnb? The Melscape team are on hand.</p>
              </div>
            </div>
            <div data-w-id="58558fcf-bfa6-ef25-fa87-7b88aa267f12" style="opacity: 1" class="feature">
              <div>
                <div class="heart-icon">
                  <!-- <ion-icon name="trash-bin-outline"></ion-icon> -->
                  <img src="{% static '/images/icons/Repairs@3x-1.svg' %}" alt="" />
                </div>
                <!-- <h5>In-house maintenance & housekeeping</h5> -->
                <div class="underline center"></div>
              </div>
              <div class="feature-text-box">
                <p class="text-big">Don’t have time for property maintenance and guest relations? Choose Melscape to take care of the nitty-gritty details of hosting.</p>
              </div>
            </div>
            <div data-w-id="f9048cd7-a67b-365b-8593-3875e8368850" style="opacity: 1" class="feature">
              <div>
                <div class="chat-icon">
                  <!-- <ion-icon name="people-outline"></ion-icon> -->
                  <img src="{% static '/images/icons/Group-2294.svg' %}" alt="" />
                </div>
                <!-- <h5>A Unique Human-Tech Hybrid Approach</h5> -->
                <div class="underline center"></div>
              </div>
              <div class="feature-text-box">
                <p class="text-big">Struggling to get your property in front of the right guests? Use Melscape professional airbnb hosting services to reach new audiences and vet guests.</p>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Newsletter -->
  <div class="content-section no-top-padding wf-section">
    <div class="content-wrapper w-container">
      <div data-w-id="e89c6d9b-4a9c-349c-1dd2-841ee48a3fef" class="bottom-blue-block">
        <div class="cta-bg shade-pur"></div>
        <div class="narrow-wrapper">
          <div class="flex">
            <div data-w-id="b7bc751f-6fd0-f5da-454f-8065323db0c3" style="opacity: 0" class="newsletter-form-container">
              <div class="div-block">
                <div class="title-box medium">
                  <h3>Calculate Potential Earnings</h3>
                  <div class="underline"></div>
                  <div class="top-margin _15-pixels">
                    <!-- <p>Stay updated</p> -->
                  </div>
                </div>
                <div class="newsletter-form w-form">
                  <form id="wf-form-Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" method="get">
                    <input type="text" class="form-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="field" />
                    <input type="text" class="form-field w-input" maxlength="256" name="location" data-name="Location" placeholder="Location" id="field" />
                    <input type="email" class="form-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="field" />
                    <input type="submit" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf2d" value="Submit" data-wait="Please wait..." class="newsletter-button w-button" />
                  </form>
                  <div class="success-message w-form-done">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
                    <div class="top-margin _10-pixels">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                  </div>
                  <div class="error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
            </div>
            <div class="guy-column">
              <img src="{% static '/images/news-man.png' %}" loading="lazy" width="335.5" style="opacity: 0" data-w-id="b06eb186-fe5a-b76c-4499-d646b83f4def" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Book appointement -->
  <div class="content-section wf-section">
    <div class="content-wrapper w-container">
      <div data-w-id="b9d427fc-d7c2-18e5-d179-1c9c152ebfbe" style="opacity: 0" class="book-form-bloc book-form-abt">
        <div class="heading-box large">
          <h2 class="text-white">Book an appointment with us</h2>
          <div class="underline center"></div>
        </div>
        <div class="book-form w-form">
          <form method="get" name="wf-form-Side-Contact-Form" data-name="Side Contact Form" style="opacity: 0" data-w-id="36e5b8bc-e8a4-6d50-f2c1-1318b584be60" id="email-form" class="contact-form-block">
            <input class="w-input" maxlength="256" name="Name" data-name="Name" placeholder="Your name" type="text" id="field" required="" />
            <input class="w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your email" type="email" id="field" required="" />
            <input class="w-input" name="Phone_number" placeholder="Phone number" type="tel" id="field" required="" />
            <input class="w-input" name="Arriving-Date" data-name="property_location" placeholder="Where is your property located?" type="text" id="field" required="" />
            <input class="w-input" name="service_time" placeholder="When do you need service?" type="text" id="field" required="" />
            <textarea placeholder="Tell us more..." maxlength="5000" data-name="Message" name="Message" required="" id="field" class="contact-textarea w-input"></textarea>
            <input type="submit" data-wait="Please wait..." class="side-form-submit w-button" value="Send" />
          </form>
          <div class="success-message-absolute no-bottom-padding w-form-done">
            <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
            <div class="top-margin _10-pixels">
              <div>Thank you! Your submission has been received!</div>
            </div>
          </div>
          <div class="error-message max-width w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="top-absolute">
          <a data-w-id="5d2bdfac-6e8e-6e66-c747-b01f404a9969" style="opacity: 0" href="#" class="link-block-yellow w-inline-block"></a>
        </div>
      </div>
    </div>
  </div>

  {% include "recent_blogs.html" %}

  <a href="#Top" data-w-id="62f0835b-cb3e-0ff2-572c-f1ade8e87031" style="opacity: 0; display: none" class="go-up-button w-inline-block"></a>
  {% include "instagram.html" %}
{% endblock %}
