{% extends 'page_template.html' %}
{% load static %}

{% block heading %}
  <title>Blog | MelScape</title>
  <meta content="Blog | MelScape Property Manager" property="og:title" />
  <meta content="Blog | MelScape Property Manager" property="twitter:title" />
  <style>
    .w-webflow-badge {
      display: none !important;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    .question {
      color: var(--first-color-dark);
      font-family: 'Cormorant' !important;
    }
    
    .h1-hero-link:hover {
      color: #8dc545 !important;
    }
    
    .tag {
      /* border: 1px solid transparent; */
    }
    
    .tag:hover {
      background-color: #8dc545 !important;
      color: white !important;
      border: 1px solid transparent;
    }
    
    #next {
      color: white !important;
    }
    
    .title-link:hover,
    #latest-post-link:hover {
      color: #8dc545;
    }
  </style>
{% endblock %}
{% block content %}
  <div style="
          -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        " class="on-load">
    <div id="Top" class="hero contact-us">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          {% if featured_blogs.count > 0 %}
            <div role="listitem" class="flex w-dyn-item">
              <div class="blog-left" style="background-color: #59419C">
                <div class="hero-left-column blog">
                  <div style="
                          -webkit-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          opacity: 0;
                        " class="on-load-2">
                    <a href="{% url "blog_category" featured_blogs.first.category.category %}" class="mini-title-link" style="color: #8DC545">{{ featured_blogs.first.category.category }}</a>
                  </div>
                  <div style="
                          -webkit-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          opacity: 0;
                        " class="on-load-3">
                    <a href="{% url 'blog_details' featured_blogs.first.slug %}" class="h1-hero-link">{{ featured_blogs.first.heading }}</a>
                  </div>
                  <div class="top-margin _10-pixels">
                    <div class="_90-percent-box">
                      <div style="
                              -webkit-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                              opacity: 0;
                            " class="on-load-4">
                        <div class="subtitle white">{{ featured_blogs.first.body|safe|truncatechars:100 }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="top-margin _20-pixels">
                    <div style="
                            -webkit-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -moz-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -ms-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            opacity: 0;
                          " class="on-load-5">
                      <a href="{% url 'blog_details' featured_blogs.first.slug %}" class="button w-button" style="
                              background-color: #8DC545;
                              border: transparent;
                              color: #fff;
                            ">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <a data-w-id="cfac6155-4971-1058-124b-c172938d41fb" href="{% url 'blog_details' featured_blogs.first.slug %}" class="hero-right-column w-inline-block"><div style="background-image: url('{{ featured_blogs.first.cover_photo.url }}')" class="hover-image"></div></a>
            </div>
          {% elif blog_posts.count > 0 %}
            <div role="listitem" class="flex w-dyn-item">
              <div class="blog-left" style="background-color: #59419C">
                <div class="hero-left-column blog">
                  <div style="
                          -webkit-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          opacity: 0;
                        " class="on-load-2">
                    <a href="{% url "blog_category" blog_posts.first.category.category %}" class="mini-title-link" style="color: #8DC545">{{ blog_posts.first.category.category }}</a>
                  </div>
                  <div style="
                          -webkit-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          opacity: 0;
                        " class="on-load-3">
                    <a href="{% url 'blog_details' featured_blog.slug %}" class="h1-hero-link">{{ blog_posts.first.heading }}</a>
                  </div>
                  <div class="top-margin _10-pixels">
                    <div class="_90-percent-box">
                      <div style="
                              -webkit-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 15px, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                              opacity: 0;
                            " class="on-load-4">
                        <div class="subtitle white">{{ blog_posts.first.body|safe|truncatechars:100 }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="top-margin _20-pixels">
                    <div style="
                            -webkit-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -moz-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -ms-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            opacity: 0;
                          " class="on-load-5">
                      <a href="{% url 'blog_details' blog_posts.first.slug %}" class="button w-button" style="
                              background-color: #8DC545;
                              border: transparent;
                              color: #fff;
                            ">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <a data-w-id="cfac6155-4971-1058-124b-c172938d41fb" href="{% url 'blog_details' blog_posts.first.slug %}" class="hero-right-column w-inline-block"><div style="background-image: url('{{ blog_posts.first.cover_photo.url }}')" class="hover-image"></div></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="content-wrapper w-container">
      <div class="flex">
        <div data-w-id="5aeac3a6-3158-2940-bf7e-b21c48edd01e" style="opacity: 0" class="blog-left-column">
          <div class="left-padding _10-pixels">
            <h5 class="h5-small">Latest posts</h5>
          </div>
          <div class="top-margin _15-pixels w-dyn-list">
            <div role="list" class="flex direction w-dyn-items">
              {% for blog_post in blog_posts %}
                <div role="listitem" class="post-preview-flex w-dyn-item">
                  <a data-w-id="d8824b1c-4768-c0bd-e54e-9e07dbaaff32" href="/blog-single.html" class="post-image-preview w-inline-block">
                    <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbd92016e423d7062df2d9e_Post-bg.png" alt="" />
                    <div style="
                            background-image: url('{{ blog_post.cover_photo.url }}');
                          " class="hover-image"></div>
                  </a>
                  <div class="right-text-preview">
                    <a style="background-color: #E3A240; color: #fff" href="{% url 'blog_category' blog_post.category.category %}" class="category-lik">{{ blog_post.category.category }}</a>
                    <div class="top-margin _15-pixels">
                      <a href="{% url 'blog_details' blog_post.slug %}" class="title-link">{{ blog_post.heading }}</a>
                    </div>
                    <div class="top-margin _15-pixels">
                      <a href="{% url 'blog_details' blog_post.slug %}" id="latest-post-link" data-w-id="ee50ec11-67b0-b02c-8ded-f23868a7d882" class="read-more w-inline-block">
                        <div>Read more</div>
                        <div style="width: 0px" class="underline-hover"></div>
                      </a>
                    </div>
                  </div>
                </div>
              {% endfor %}
              {% if blog_posts.count == 0 %}
                <h2>No Blog Posts</h2>
              {% endif %}
            </div>
          </div>
        </div>
        <div data-w-id="5aeac3a6-3158-2940-bf7e-b21c48edd028" style="opacity: 0" class="blog-right-column">
          <div>
            <h5 class="h5-small">Newsletter</h5>
            <div class="blog-form w-form">
              <form data-name="Blog Newsletter Form" name="wf-form-Blog-Newsletter-Form" id="wf-form-Blog-Newsletter-Form" method="get" data-wf-page-id="5fbd873dc7da4ffbaf69273e" data-wf-element-id="5aeac3a6-3158-2940-bf7e-b21c48edd02d">
                <input class="form-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Your Name" type="text" id="field" required="" />
                <input class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your Email" type="email" id="field" required="" />
                <input type="submit" data-wait="Please wait..." class="newsletter-button w-button" value="Subscribe!" />
              </form>
              <div class="success-message w-form-done">
                <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" width="35" alt="" />
                <div class="top-margin _15-pixels">
                  <div>Thank you! Your submission has been received!</div>
                </div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="blog-block">
            <h5 class="h5-small">Featured</h5>
            <div class="w-dyn-list">
              <div role="list" class="flex w-dyn-items">
                {% for featured_blog in featured_blogs %}
                  <div role="listitem" class="featured-preview w-dyn-item">
                    <a data-w-id="8d008310-b5af-c0b5-0a49-0792487e4c35" href="{% url 'blog_details' featured_blog.slug %}" class="featured-preview-image w-inline-block">
                      <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbd948f3872cbcce1055b1f_Featured-bg.png" width="337.5" alt="" />
                      <div style="
                            background-image: url('{{ featured_blog.cover_photo.url }}');" class="hover-image"></div>
                    </a>
                    <div class="featured-text-preview">
                      <a style="background-color: #e5e2fa; color: #847bd5" href="{% url 'blog_category' featured_blog.category.category %}" class="category-lik">{{ featured_blog.category.category }}</a>
                      <div class="top-margin _15-pixels">
                        <a href="{% url 'blog_details' featured_blog.slug %}" class="title-link">{{ featured_blog.heading }}</a>
                      </div>
                      <div class="top-margin _15-pixels">
                        <a href="{% url 'blog_details' featured_blog.slug %}" data-w-id="722d5c52-08c0-6e02-862c-139bc6b97b00" class="read-more w-inline-block">
                          <div>Read more</div>
                          <div style="width: 0px" class="underline-hover"></div>
                        </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                {% if featured_blogs.count == 0 %}
                  <h2>No Featured Posts</h2>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="blog-block bottom-padding">
            <h5 class="h5-small">Category</h5>
            <div class="left-padding _7-pixels w-dyn-list">
              <div role="list" class="w-dyn-items">
                {% for blog_category in blog_categories %}
                  <div role="listitem" class="top-margin _10-pixels w-dyn-item">
                    <a style="background-color: #8DC545; color: #fff" href="{% url 'blog_category' blog_category.category %}" class="category-lik">{{ blog_category.category }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#Top" data-w-id="62f0835b-cb3e-0ff2-572c-f1ade8e87031" style="opacity: 0; display: none" class="go-up-button w-inline-block"></a>
  {% include 'instagram.html' %}
{% endblock %}
