{% extends "page_template.html" %}
{% load static %}
{% block heading %}
  <title>Contact us</title>
  <style>
    .w-webflow-badge {
      display: none !important;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    .question {
      color: var(--first-color-dark);
      font-family: 'Cormorant' !important;
    }
  </style>
{% endblock %}
{% block content %}
  <div style="
          -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        " class="on-load">
    <div id="Top" class="hero contact-us wf-section">
      <div class="hero-bg contact-us">
        <div class="max-400-pixels">
          <div style="
                  -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                  opacity: 0;
                " class="on-load">
            <div class="text-white">Contact us</div>
          </div>
          <div style="
                  -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                  opacity: 0;
                " class="on-load-2">
            <h1 class="hero-h1">Let&#x27;s get in touch</h1>
          </div>
          <div class="top-margin _15-pixels">
            <div style="
                    -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                  " class="on-load-3">
              <a href="#Intro" class="button white w-button scroll-down">Scroll down</a>
            </div>
          </div>
        </div>
        <div class="hero-bottom"></div>
      </div>
    </div>
  </div>
  <div id="Intro" class="content-section wf-section">
    <div class="content-wrapper w-container">
      <div data-w-id="a7de6218-f301-bebe-396c-fefae39142b0" style="opacity: 0" class="details-bg cont-body">
        <div class="contact-form-left">
          <div>
            <div></div>
            <div class="top-margin _20-pixels">
              <h6>Email</h6>
              <div class="top-margin _10-pixels">
                <a href="mailto:{{ site_info.email_1 }}" class="contact-link"><span class="__cf_email__" data-cfemail="6a191f1a1a05181e2a1d0f0819031e0f44090507">{{ site_info.email_1 }}</span></a>
                <div class="top-margin _10-pixels">
                  <a href="mailto:{{ site_info.email_2 }}" class="contact-link"><span class="__cf_email__" data-cfemail="6a191f1a1a05181e2a1d0f0819031e0f44090507">{{ site_info.email_2 }}</span></a>
                </div>
              </div>
            </div>
            <div class="top-margin _20-pixels">
              <h6>Phone</h6>
              <div>
                <div>
                  <a href="tel:{{site_info.phone_number}}" class="contact-link">{{ site_info.phone_number }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form-right">
          {% if success_message %}
          <div class="success-message dark w-form-done" style="display: block;">
            <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
            <div class="top-margin _15-pixels">
              <div>Thank you! {{success_message}}</div>
            </div>
          </div>
          {% endif %}
          {% if error_message %}
          <div class="error-message w-form-fail" style="display: block;">
            <div>Oops! {{error_message}}</div>
          </div>
          {% endif %}
          <h6>Type us your message</h6>
          <div class="form-block-2 w-form">
            <form data-name="Contact Form" name="wf-form-Contact-Form" id="email-form" method="POST" class="form-flex" action="{% url 'contact' %}">{% csrf_token %}
              <input type="hidden" name="req-type" value="CONTACT">
              <input type="text" class="input w-input" maxlength="256" name="first-name" data-name="Name" placeholder="Your name" id="field" required="required" />
              <input type="text" class="input w-input" maxlength="256" name="last-name" data-name="Last Name" placeholder="Your last name" id="field" required="required" />
              <input type="email" class="input w-input" maxlength="256" name="email" data-name="Email" placeholder="your@email.com" id="field" required="required" />
              <input type="tel" class="input w-input" maxlength="256" name="mobile" data-name="Mobile" placeholder="Mobile" id="field" required="required" />
              <textarea placeholder="Your message..." maxlength="5000" data-name="Message" name="message" required="required" id="field" class="textarea w-input"></textarea>
              <input type="submit" value="Send!" data-wait="Please wait..." class="submit-button-form w-button" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#Top" data-w-id="62f0835b-cb3e-0ff2-572c-f1ade8e87031" style="opacity: 0; display: none" class="go-up-button w-inline-block"></a>
  {% include "instagram.html" %}
{% endblock %}
{% block scripts %}
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
{% endblock %}
