{% extends 'page_template.html' %}
{% load static %}
{% block heading %}
  <title>FAQ</title>
  <style>
    .w-webflow-badge {
      display: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    .question {
      color: var(--first-color-dark);
      font-family: "Cormorant" !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div style="
          -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        " class="on-load">
    <div id="Top" class="top-section wf-section">
      <div class="inner-pages-bg"></div>
      <div class="content-wrapper w-container faq-head">
        <div class="flex">
          <div class="hero-text-box full">
            <div class="heading-box large">
              <div style="
                      -webkit-transform: translate3d(0, 15px, 0)
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                        skew(0, 0);
                      -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      opacity: 0;
                    " class="on-load">
                <h1 class="h1-hero inner-pages" style="text-transform: uppercase; font-weight: bold">Frequently Asked Questions</h1>
                <div class="subtile-inner large-center">
                  <div style="
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                          -webkit-transform: translate3d(0, 15px, 0)
                            skew(0, 0);
                          -moz-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -ms-transform: translate3d(0, 15px, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          opacity: 0;
                        " class="on-load-2">
                    <p class="subtitle">Find answers to your questions</p>
                  </div>
                </div>
              </div>
              <div class="top-margin _20-pixels">
                <div style="
                        -webkit-transform: translate3d(0, 15px, 0)
                          scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                          skew(0, 0);
                        -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        opacity: 0;
                      " class="on-load-3">
                  <a href="#Intro" class="button w-button scroll-down">Scroll down</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Intro" class="content-section double-inner-page wf-section">
    <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f07" style="opacity: 0" class="content-wrapper w-container">
      <div class="faq-block">
        <div class="narrow-wrapper">
          <div>
            <h3 class="no-top-margin">Services</h3>
            <div class="top-margin _20-pixels">
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f0e" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f0f" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">What services does Melscape provide?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>
                    MelScape Ltd offer a range of services designed to make the process of renting out a property easier and more efficient for property owners. <br />
                    <b>These services can include:</b>
                  </p>
                  <ul>
                    <li>Property Listing and Marketing: Creation and management of listings on popular platforms like Airbnb, Vrbo, Booking.com, etc. This includes professional photography, writing compelling descriptions, and setting competitive pricing strategies.</li>
                    <li>Guest Communication and Booking Management: Handling all communication with guests, from initial inquiries to post-stay follow-ups. This often includes booking confirmations, answering questions, and dealing with any issues that arise during the stay.</li>
                    <li>Dynamic Pricing: Adjusting rental prices based on demand, seasonality, and local events to maximize revenue.</li>
                    <li>Cleaning and Maintenance: Coordinating regular cleaning after each guest stay, conducting property inspections, and arranging for necessary repairs or maintenance.</li>
                    <li>Check-In/Check-Out Services: Managing the check-in and check-out process, including key exchange or smart lock setups, and ensuring guests have a seamless arrival and departure.</li>
                    <li>Property Management and Maintenance: Routine inspections, coordinating repairs, and managing relationships with local contractors or handymen.</li>
                    <li>Guest Support: Offering 24/7 guest support for any emergencies or issues that arise during the guest's stay.</li>
                    <li>Financial Management: Handling payments, security deposits, taxes, and providing detailed financial reporting to the property owner.</li>
                    <li>Insurance and Liability Coverage: Airbnb offers AirCover, which provides both insurance and liability coverage for hosts. This protection is designed to give hosts peace of mind in case something goes wrong during a guest’s stay.</li>
                  </ul>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f1c" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f1d" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">How long does it take to get started?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>
                    Getting started with a vacation rental management service typically takes anywhere from a few days to a couple of weeks, depending on several factors.
                    <b>Here's an outline of the process and timeline:</b>
                  </p>
                  <ul>
                    <li>Initial Consultation and Property Evaluation (1-3 days): We will typically start with an initial consultation to assess your property, understand your goals, and provide an overview of our services.</li>
                    <li>Onboarding and Paperwork (1-7 days): Once you choose us to Manage your property, you will need to sign a management agreement, provide property details, and possibly share your ownership documents and insurance information with us.</li>
                    <li>Photography and Listing Creation (3-7 days): MelScape will arrange for professional photography and create your property’s online listings. This can take a few days depending on scheduling and the completion of your property profile on various booking platforms.</li>
                    <li>Setting Up Property Maintenance and Logistics (1-5 days): Our Company will coordinate cleaning services, maintenance contacts, and guest communication protocols. If your property requires any immediate repairs or setup, this could extend the timeline slightly.</li>
                    <li>Marketing and Going Live (1-2 days): Once the listing is created and everything is set up, the property can go live for bookings.</li>
                  </ul>
                  <br />
                  <p>In general, the process can be as quick as 5-7 days if everything is prepared and goes smoothly. However, it may take up to 2 weeks if there are delays with inspections, photography, or repairs.</p>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f2a" style="opacity: 0" class="faq-wrapper last">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f2b" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">How to get started?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>
                    <b>To get started with vacation rental management, follow these steps:</b>
                  </p>
                  <ul>
                    <li>Schedule an Initial Consultation: Contact us to discuss your property. During this consultation, we will explain how the process works, review your property, and answer any questions.</li>
                    <li>Sign the Management Agreement: We will review the terms and conditions, including our commission rate, responsibilities, and expectations for both parties. Sign the agreement to officially start the relationship.</li>
                    <li>Prepare Your Property: Ensure your property is clean, well-maintained, and stocked with essentials for guests. If required, complete any repairs or upgrades to make it guest-ready.</li>
                    <li>Professional Photography: We offer or require professional photography to make your listing attractive to potential guests. Schedule the photo session.</li>
                    <li>Listing Creation: We will create your property listing on popular platforms like Airbnb, Vrbo, and Booking.com. We will also write compelling descriptions, set pricing strategies, and optimize the listing for visibility.</li>
                    <li>Set Up Maintenance and Cleaning: Work with MelScape to set up regular cleaning and maintenance schedules. This will ensures your property is well-maintained between guest stays.</li>
                    <li>Launch Your Property: Once the listing is live and everything is in place, your property is ready to accept bookings. MelScape will handle guest communications, bookings, and all ongoing management.</li>
                  </ul>
                  <br />
                  <p>By following these steps, you'll have a seamless process to get your vacation rental property up and running with minimal effort.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="top-margin _60-pixels">
            <h3>Cost & Rate</h3>
            <div class="top-margin _20-pixels">
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f3c" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f3d" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">How much does your service cost?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>The cost of vacation rental management services can vary depending on the company, location, and level of service provided.</p>

                  <ul>
                    <li>
                      Commission-Based Fees: Percentage of Rental Income: MelScape charge a percentage of the rental income, typically ranging from 20% to 30%. This fee covers services like guest communication, booking management, cleaning coordination, and property maintenance.<p>The percentage can vary depending on the level of service provided, and the location of the property.</p>
                    </li>
                    <li>Setup or Onboarding Fee MelScape charge a one-time onboarding fee, which covers listing creation, photography, and initial property setup. This can range from £200 to £500.</li>
                    <li>
                      Additional Service Fees Cleaning Fees: Cleaning fees are usually passed on to the guest, but some we may charge owners if extra cleaning is required or if it’s not covered by guest payments.<p>Maintenance or Repairs: The cost of property maintenance and repairs is typically not included in the management fee. MelScape will handle the logistics but may charge homeowner for repair costs.</p>
                    </li>
                    <li>Example: If your property earns £2,000 per month and the management company charges a 20% commission, you would pay £400 to the company each month, and they would handle the majority of the property management tasks.</li>
                  </ul>
                  <br />
                  <b>Hidden fees or potential surcharges for additional services.</b>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f4a" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f4b" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">How will you decide what the rental rate will be for my property?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>MelScape has developed a dynamic pricing algorithm designed to maximize rental rates based on market trends, similar to those used by hotels and airlines.</p>
                  <p>By factoring in comparables, local events, and seasonal demand, we ensure your property captures peak market value and maintains high occupancy.</p>
                  <p>This advantage allows us to provide exceptional value to our owners, often making our services a self-sustaining investment</p>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f58" style="opacity: 0" class="faq-wrapper last">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f59" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">Are there additional fees?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>
                    <b>Some additional fee might include:</b>
                  </p>
                  <ul>
                    <li>Cleaning Fees: Cleaning fees are usually passed on to the guest, but some we may charge owners if extra cleaning is required or if it’s not covered by guest payments.</li>
                    <li>Maintenance or Repairs: The cost of property maintenance and repairs is typically not included in the management fee. MelScape will handle the logistics but may charge homeowner for repair costs.</li>
                    <p>Example: If your property earns £2,000 per month and the management company charges a 20% commission, you would pay £400 to the company each month, and they would handle the majority of the property management tasks.</p>
                    <b>Hidden fees or potential surcharges for additional services.</b>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="top-margin _60-pixels">
            <h3>Other</h3>
            <div class="top-margin _20-pixels">
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f6a" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f6b" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">Where can we find reviews of the property?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>
                    To find reviews of a property, you can check several popular platforms that specialize in real estate or travel. <b>Here are some reliable options:</b>
                  </p>
                  <ul>
                    <li>Google Reviews: You can search the property on Google Maps, where users often leave detailed reviews.</li>
                    <li>Zillow or Realtor.com: For real estate properties, these websites provide reviews and ratings, along with other property-related data.</li>
                    <li>Yelp: Some properties, especially rentals, might have reviews on Yelp.</li>
                    <li>Airbnb or Vrbo: If the property is a vacation rental, these platforms are excellent sources of guest reviews.</li>
                    <li>TripAdvisor: Particularly useful for vacation properties, TripAdvisor allows travelers to leave feedback.</li>
                    <li>Booking.com: For hotels or short-term rentals, Booking.com often has detailed guest reviews.</li>
                    <li>Reddit or Online Forums: Occasionally, people discuss properties and experiences on platforms like Reddit, which can provide informal but candid feedback.</li>
                  </ul>
                  <br />
                  <p>You can search any of these sources by entering the property’s name and location.</p>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f78" style="opacity: 0" class="faq-wrapper">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f79" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">What happens if there is damage to my property?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>MelScape collects a security deposit or damage fee to cover any potential damages during a guest’s stay. We handle communication with the guest to resolve these matters and will either assist in replacing the damaged item or transfer the collected funds to you at the end of the month.</p>
                </div>
              </div>
              <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f86" style="opacity: 0" class="faq-wrapper last">
                <a href="#" data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f87" class="faq-trigger w-inline-block">
                  <div class="full-width">
                    <div class="faq-wrap-text">
                      <div class="question">How can I contact you directly?</div>
                    </div>
                  </div>
                  <div class="faq-arrow-box">
                    <img src="https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb988231f61a67e202a4049_Arrow.png" width="15" style="
                            -webkit-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -moz-transform: translate3d(0, 0, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0)
                              rotateZ(-90deg) skew(0, 0);
                            -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(-90deg) skew(0, 0);
                          " alt="" class="arrow" />
                  </div>
                </a>
                <div style="height: 0px" class="faq-content">
                  <p>At MelScape, we take pride in ensuring customer satisfaction and are available 24/7 to address your questions and meet your needs.</p>
                  <p>Feel free to contact us anytime via email at email@d.com or by phone. We are always available to assist you</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="1cf3cf2b-8351-d2f0-a22a-19318c399f94" style="opacity: 0" class="top-margin _30-pixels">
          <div class="center-content">
            <a href="/contact-us.html" class="button-outline-dark w-button faq-btn">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#Top" data-w-id="570403c0-8110-44e4-fc5f-3b089ce60693" style="opacity: 0; display: none" class="go-up-button w-inline-block"></a>
{% endblock %}
