{% load static %}
<div class="footer">
  <div class="footer-bg"></div>
  <div class="content-wrapper w-container">
    <div class="footer-container">
      <div class="footer-column">
        <div class="footer-left">
          <div>
            <a href="{% url 'index' %}" aria-current="page" class="footer-logo w-inline-block w--current"><img src="{% static '/images/melscape_logo.png' %}" width="80" alt="footer logo" /></a>
          </div>
          <div class="top-margin _20-pixels">
            <p class="footer-text">Management services for vacation rental properties</p>
          </div>
          <div class="top-margin _20-pixels">
            <div>
              <a href="{{ site_info.facebook_link }}" target="_blank" class="social-icon-mini facebook w-inline-block"></a>
              <a href="{{ site_info.tiktok_link }}" target="_blank" class="social-icon-mini tiktok w-inline-block"></a>
              <a href="{{ site_info.linkedin_link }}" target="_blank" class="social-icon-mini linkedin w-inline-block"></a>
              <a href="{{ site_info.instagram_link }}" target="_blank" class="social-icon-mini instagram w-inline-block"></a>
              <a href="mailto:{{ site_info.email_1 }}" target="_blank" class="social-icon-mini email w-inline-block"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-expand">
        <div class="menu">
          <div class="footer-title">Menu</div>
          <div class="top-margin _10-pixels">
            <div class="top-margin _20-pixels">
              <a href="{% url 'index' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b2c" aria-current="page" class="menu-link w-inline-block w--current">
                <div>Home</div>
                <div class="underline-hover"></div>
              </a>
            </div>
            <div class="top-margin _15-pixels">
              <a href="{% url 'about' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b31" class="menu-link w-inline-block">
                <div>About us</div>
                <div class="underline-hover"></div>
              </a>
            </div>
            <div class="top-margin _15-pixels">
              <a href="{% url 'faq' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b36" class="menu-link w-inline-block">
                <div>FAQs</div>
                <div class="underline-hover"></div>
              </a>
            </div>
            <div class="top-margin _15-pixels">
              <a href="{% url 'blog' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b3b" class="menu-link w-inline-block">
                <div>Blog</div>
                <div class="underline-hover"></div>
              </a>
            </div>
            <div class="top-margin _15-pixels">
              <a href="{% url 'contact' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b45" class="menu-link w-inline-block">
                <div>Contact us</div>
                <div class="underline-hover"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="footer-title">Agreement</div>
          <div class="top-margin _10-pixels">
            <div class="top-margin _15-pixels">
              <div class="top-margin _20-pixels">
                <a href="{% url 'privacy_policy' %}" data-w-id="35405203-a866-4e52-5fe7-c5591b024b4f" class="menu-link w-inline-block">
                  <div>Privacy Policy</div>
                  <div class="underline-hover"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="menu news">
          <div class="footer-title">Newsletter</div>
          <div class="top-margin _20-pixels">
            <div class="w-form">
              <form data-name="Footer Newsletter" name="wf-form-Footer-Newsletter" id="email-form" method="get" class="footer-newsletter" data-wf-page-id="5fb94d66e5e1d82f06729c39" data-wf-element-id="35405203-a866-4e52-5fe7-c5591b024b71">
                <div class="footer-newsletter-bg">
                  <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c874e97cfeab8_Footer-nl.jpg" loading="lazy" width="233.5" alt="" />
                  <div class="footer-newsletter-image"></div>
                </div>
                <input class="footer-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="your@email.com" type="email" id="field" required="" />
                <input type="submit" data-wait="Please wait..." class="submit-button-footer w-button" value="Subscribe!" />
              </form>
              <div class="success-message white w-form-done">
                <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
                <div class="top-margin _10-pixels">
                  <div>Thank you! Your submission has been received!</div>
                </div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
