<!-- Follow us -->
<div class="content-section double wf-section">
  <div class="content-wrapper w-container">
    <div class="heading-box large">
      <div class="title text-2xl lg:text-3xl">Instagram</div>
      <h2>Follow us</h2>
    </div>
    <div class="flex">
      <a data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec57" href="{{ post1.post_link }}" class="insta-pic _1 w-inline-block">
        <img src="{{ post1.post_image.url}}" width="382.5" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, 24vw" alt="{{ post1.post_name }}"  />
        <div class="cover-image insta-1"></div>
        <div class="hover-overlay">
          <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbbfa13b8b6a96c23de5071_instagram%20(1).svg" width="40" data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec5b" alt="" class="hover-icon" />
        </div>
      </a><a data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec5c" href="{{ post2.post_link }}" class="insta-pic _2 w-inline-block">
        <img src="{{ post2.post_image.url}}" width="382.5" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, 24vw" alt="{{ post2.post_name }}"/>
        <div class="cover-image insta-2"></div>
        <div class="hover-overlay">
          <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbbfa13b8b6a96c23de5071_instagram%20(1).svg" width="40" data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec60" alt="" class="hover-icon" />
        </div>
      </a><a data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec61" href="{{ post3.post_link }}" class="insta-pic _3 w-inline-block">
        <img src="{{ post3.post_image.url}}" width="382.5" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, 24vw" alt="{{ post3.post_name }}"/>
        <div class="cover-image insta-3"></div>
        <div class="hover-overlay">
          <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbbfa13b8b6a96c23de5071_instagram%20(1).svg" width="40" data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec65" alt="" class="hover-icon" />
        </div>
      </a><a data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec66" href="{{ post4.post_link }}" class="insta-pic _4 w-inline-block">
        <img src="{{ post4.post_image.url}}" width="382.5" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, 24vw" alt="{{ post4.post_name }}" />
        <div class="cover-image insta-4"></div>
        <div class="hover-overlay">
          <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbbfa13b8b6a96c23de5071_instagram%20(1).svg" width="40" data-w-id="34f2222b-3818-939a-73b0-5c142cd8ec6a" alt="" class="hover-icon" />
        </div>
      </a>
    </div>
  </div>
</div>
