{% load static %}
<div class="navigation">
  <div class="nav-container">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="notice-box-container">
        <div class="content-wrapper w-container">
          <div class="notice-box">
            <div class="notice-text-box">
              Enter your message here! Coupon Code
              <strong>SCARPA10%</strong>
            </div>
          </div>
          <a href="#" class="close-button w-inline-block"><img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e921f61a63a52297570_cerrar.svg" loading="lazy" height="10" width="10" alt="" class="close-x" /></a>
        </div>
      </div>
      <div class="nav-content-wrapper w-container">
        <a href="/" aria-current="page" class="brand w-nav-brand w--current"><img src="{% static '/images/melscape_logo.png' %}" alt="" width="66.5" /></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-align-center">
            <a href="{% url 'about' %}" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf19" class="navlink w-inline-block">
              <div>About Us</div>
              <div class="underline-hover mobile-hide"></div>
            </a><a href="{% url 'faq' %}" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf1d" class="navlink w-inline-block">
              <div>FAQs</div>
              <div class="underline-hover mobile-hide"></div>
            </a><a href="{% url 'blog' %}" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf21" class="navlink w-inline-block">
              <div>Blog</div>
              <div class="underline-hover mobile-hide"></div>
            </a><a href="{% url 'contact' %}" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf25" class="navlink w-inline-block">
              <div>Contact Us</div>
              <div class="underline-hover mobile-hide"></div>
            </a><a href="tel:+44 7448 824220" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf29" aria-current="page" class="navlink phone w-inline-block w--current">
              <div class="nav-phone">+44 7448 824220</div>
              <div class="underline-hover mobile-hide"></div>
            </a><a href="mailto:info@melscape.com " class="w-inline-block nav-mail"><ion-icon name="mail-outline"></ion-icon></a><a data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf2e" href="#" class="book-button w-button">Book Appointment</a>
          </div>
        </nav>
        <div class="nav-flex">
          <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="newsletter newsletter-container">
    <div data-ix="move-up-on-load" class="newsletter-box">
      <!-- <div class="newsletter-column left"></div> -->
      <div class="newsletter-column modal-center flex-column">
        <div class="flex-column modal-text">
          <div class="title">MELSCAPE</div>
          <h4 class="">Set up a call with us</h4>
        </div>
        <div class="form-block-newsletter w-form">
          <form
            data-name="Newsletter Pop Up"
            name="wf-form-Newsletter-Pop-Up"
            id="email-form"
            method="get"
            class="newsletter-pop"
            data-wf-page-id="5fb94d66e5e1d82f06729c39"
            data-wf-element-id="9b8c5046-c0ca-82df-9168-084d8bf1cf3d"
          >
            <input
              type="submit"
              data-wait="Please wait..."
              class="submit-button w-button scroll-down "
              value="Get Started"
            />
          </form>
          <div class="success-message w-form-done">
            <img
              src="https://cdn.prod.website-files.com/5ec27bf8d6ed603740f47152/5ec45a92405dcd465ce0b534_formas-y-simbolos.svg"
              width="35"
              alt=""
            />
            <div class="top-margin _15-pixels">
              <div>Thank you! Your submission has been received!</div>
            </div>
          </div>
          <div class="error-message w-form-fail">
            <div>
              Oops! Something went wrong while submitting the form.
            </div>
          </div>
        </div>
        <a
          href="#"
          data-ix="hide-modal"
          data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf49"
          class="close-contact-form w-inline-block"
          style="background-color: var(--third-color-darker)"
          ><img
            src="https://cdn.prod.website-files.com/5e46c99de4a0d2042023afcb/5e5582cebcdb732c41a98606_cerrar%20(2).svg"
            width="12"
            alt=""
            class="close-x"
            
        /></a>
      </div>
    </div>
  </div>

  <!-- Book appointment form -->
  <div class="side-form">
    <div class="side-bar">
      <div class="side-bar-top">
        <h5 class="h5-small less-margin">Book Appointment</h5>
        <div class="top-margin _5-pixels">
          <p class="text-small-gray">We&#x27;ll answer you in less than 24 hours</p>
        </div>
        <div class="top-margin _15-pixels">
          <div class="rounded">
            <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbc2e8467db3ca8816da8ad_Side-Form-Image.jpg" loading="lazy" width="285" alt="" srcset="
                https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbc2e8467db3ca8816da8ad_Side-Form-Image-p-500.jpeg 500w,
                https://assets.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbc2e8467db3ca8816da8ad_Side-Form-Image.jpg        570w
              " sizes="100vw" />
            <div class="cover-image side-image"></div>
          </div>
        </div>
        <a data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf56" href="#" class="close-button-form w-inline-block"><img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbc274a92d11664dc54a4af_Close.png" loading="lazy" width="8.5" alt="" class="close" /></a>
      </div>
      <div class="contact-box">
        <div class="book-form w-form">
          <form data-name="Side Contact Form" name="wf-form-Side-Contact-Form" id="email-form" method="get" class="contact-form" data-wf-page-id="5fb94d66e5e1d82f06729c39" data-wf-element-id="9b8c5046-c0ca-82df-9168-084d8bf1cf5a">
            <input class="w-input" maxlength="256" name="Name" data-name="Name" placeholder="Your name" type="text" id="field" />
            <input class="w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your email" type="email" id="field" />
            <input class="w-input" name="Phone_number" placeholder="Phone number" type="tel" id="field" />
            <input class="w-input" name="Arriving-Date" data-name="property_location" placeholder="Where is your property located?" type="text" id="field" />
            <input class="w-input" name="service_time" placeholder="When do you need service?" type="text" id="field" />
            <textarea placeholder="Tell us more..." maxlength="5000" data-name="Message" name="Message" id="field" class="contact-textarea w-input"></textarea>
            <input type="submit" data-wait="Please wait..." class="side-form-submit w-button" value="Send" data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf2d" />
          </form>
          <div class="success-message w-form-done">
            <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb94e3b5f4c877ee2cfeaac_formas-y-simbolos.svg" loading="lazy" width="35" alt="" />
            <div class="top-margin _10-pixels">
              <div>Thank you! Your submission has been received!</div>
            </div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="side-more-options">
        <div class="top-margin _5-pixels">
          <div class="flex">
            <div class="side-form-icon">
              <!--   <img
                src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fbc309ae2843d5ac31673fa_ayuda.svg"
                loading="lazy"
                width="24"
                alt=""
              />   -->
              <div class="question-icon">
                <ion-icon name="help-outline"></ion-icon>
              </div>
            </div>
            <div class="book-arrow">
              <a href="/faq.html" class="w-inline-block">
                <h6 class="h6-small">Have questions?</h6>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
              <div>
                <div class="text-small-gray">
                  <a href="/faq.html" class="link-green sec-color">Find</a>
                  answers to commonly asked <br />questions.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-more-options less-top-padding">
        <div class="flex">
          <div class="side-form-icon">
            <ion-icon name="call-outline"></ion-icon>
          </div>
          <div class="book-arrow">
            <a href="/contact-us.html" class="w-inline-block">
              <h6 class="h6-small">Call us</h6>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
            <div>
              <div class="text-small-gray">
                <!-- Monday to Friday 9:00am to 5:00pm<br /> -->
                <a href="/contact-us.html" class="link-green sec-color">+44 7448 824220</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="9b8c5046-c0ca-82df-9168-084d8bf1cf8c" class="left-side-form"></div>
  </div>
</div>
