{% extends 'page_template.html' %}

{% block heading %}
  <title>Privacy Policy</title>
  <style>
    .w-webflow-badge {
      display: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    .question {
      color: var(--first-color-dark);
      font-family: "Cormorant" !important;
    }
  </style>
{% endblock %}
{% block content %}
  <!-- Nav -->
  {% include 'nav.html' %}
  <!-- Hero section -->
  <div style="
          -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        " class="on-load">
    <div id="Top" class="contact-us">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="flex w-dyn-item">
            <div class="blog-left privacy-hero">
              <div class="hero-left-column blog">
                <div style="
                        -webkit-transform: translate3d(0, 15px, 0)
                          scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                          skew(0, 0);
                        -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        opacity: 0;
                      " class="on-load-2">
                  <a href="/category/rentals" class="white">Melscape</a>
                </div>
                <div style="
                        -webkit-transform: translate3d(0, 15px, 0)
                          scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                          skew(0, 0);
                        -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                          rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        opacity: 0;
                      " class="on-load-3">
                  <h1 class="hero-h1">Privacy Policy</h1>
                </div>
                <div class="top-margin _10-pixels">
                  <div class="_90-percent-box">
                    <div style="
                            -webkit-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -moz-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            -ms-transform: translate3d(0, 15px, 0)
                              scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                              skew(0, 0);
                            transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            opacity: 0;
                          " class="on-load-4">
                      {% comment %} <p class="subtitle white">Protecting your private information is our priority</p> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="hero-right-column w-inline-block"><div style="
                      background-image: url('https://cdn.prod.website-files.com/5fbbf7da7e4d4aa5761665ce/5fbc15136d10099952d5b764_kam-idris-Ot2iTXgC6fY-unsplash%20(1).jpg');
                    " class="hover-image"></div></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="content-wrapper w-container">
      <div class="text-big privacy-det">
        <p>This Statement of Privacy applies to Melscape LLC and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references are to Melscape. The Melscape website is a platform for connecting vacation rental hosts seeking assistance with various types of projects or tasks with Melscape-affiliated assistants who may be willing to perform such tasks. By using the Melscape website, you consent to the data practices described in this statement.</p>

        <b>Collection of your Personal Information</b>
        <p>Melscape may collect personally identifiable information, such as your name. We may gather additional personal or non-personal information in the future.</p>

        <p>Information about your computer hardware and software may be automatically collected by Melscape. This information can include your IP address, browser type, domain names, access times, and referring website addresses. It is used to operate the service, maintain its quality, and provide general statistics regarding use of the Melscape website.</p>

        <p>Melscape encourages you to review the privacy statements of websites you choose to link to from Melscape so that you can understand how those websites collect, use, and share your information. Melscape is not responsible for the privacy statements or other content on websites outside of the Melscape website.</p>

        <b>Use of your Personal Information</b>

        <p>Melscape collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>
        <p>Melscape may use your personally identifiable information to inform you of other products or services available from Melscape and its affiliates. Melscape may also contact you via surveys to gather feedback about your opinion of current services or potential new services that may be offered.</p>
        <p>Melscape does not sell, rent or lease its customer lists to third parties.</p>

        <p>Melscape may, from time to time, contact you on behalf of external business partners about particular offerings that may interest you. In these cases, your unique personally identifiable information (e.g., email, name, address, telephone number) is not transferred to the third party. Melscape may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange deliveries. All such third parties are prohibited from using your personal information except to provide these services to Melscape and are required to maintain the confidentiality of your information.</p>

        <p>Melscape may track the websites and pages that users visit within Melscape to identify the most popular services. This data is used to deliver customized content and advertising to customers whose behavior indicates an interest in particular subject areas.</p>
        <p>Melscape will disclose your personal information without notice only if required by law or in the good-faith belief that such action is necessary to: (a) comply with legal requirements or respond to legal process served on Melscape or the site; (b) protect and defend the rights or property of Melscape; or (c) act under exigent circumstances to protect the personal safety of Melscape users or the public.</p>

        <b>Security of your Personal Information</b>
        <p>Verisign: When personal information (such as a credit card number) is transmitted to other websites, it is protected through encryption, such as the Secure Sockets Layer (SSL) protocol. Verisign, an independent third-party company, is dedicated to developing digital trust. Verisign provides authentication of internet services, digital identity, and intellectual property. By clicking on the Verisign logo, you will be directed to a webpage confirming that Melscape is "Verisign Authenticated."</p>

        <b>Opt-Out & Unsubscribe</b>
        <p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Melscape by contacting us here:</p>
        <ul>
          <li>Web page: www.melscape.com</li>
          <li>Email: info@melscape.com</li>
        </ul>
        <br />

        <b>Changes to this Statement</b>
        <p>Melscape will occasionally update this Statement of Privacy to reflect company and customer feedback. Melscape encourages you to periodically review this Statement to be informed of how MelScape is protecting your information.</p>
      </div>
    </div>
  </div>
{% endblock %}
