 <!-- BLOG -->
 <div data-w-id="0c5167c3-786b-8b64-8c4e-efabbb5523ea" class="content-section">
    <div class="content-wrapper w-container">
      <div class="title-box">
        <h3 class="text-2xl lg:text-3xl font-semibold">Stay updated</h3>
        <div class="underline"></div>
      </div>
      <div data-w-id="48095ca5-72d1-8784-59cc-a2ce6c8f1299" style="opacity: 1" class="top-margin _30-pixels w-dyn-list">
        <div role="list" class="flex center-mobile w-dyn-items">
          {% for blog in recent_blogs %}
          <div role="listitem" class="preview-item w-dyn-item">
            <a data-w-id="de0cae89-0694-080f-c115-51bdb555b226" href="{% url 'blog_details' blog.slug %}" class="post-image-preview w-inline-block">
              <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb9882415d1f00b52fde63c_post-bg.png" loading="lazy" alt="" width="361.5" />
              <div style="
                      background-image: url('{{ blog.cover_photo.url }}');
                    " class="hover-image"></div>
            </a>
            <div class="top-margin _15-pixels">
              <div class="left-padding _10-pixels">
                <a style="background-color: #e3a240; color: white" href="{% url 'blog_details' blog.slug %}" class="category-lik">{{ blog.category.category }}</a>
                <div>
                  <a href="{% url 'blog_details' blog.slug %}" class="post-link">{{ blog.heading }}</a>
                </div>
                <div class="top-margin _10-pixels">
                  <p>{{ blog.body|safe|truncatechars:150 }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>