 <!-- BLOG -->
 <div data-w-id="0c5167c3-786b-8b64-8c4e-efabbb5523ea" class="content-section">
    <div class="content-wrapper w-container">
      <div class="title-box">
        <h3 class="text-2xl lg:text-3xl font-semibold">Stay updated</h3>
        <div class="underline"></div>
      </div>
      <div data-w-id="48095ca5-72d1-8784-59cc-a2ce6c8f1299" style="opacity: 1" class="top-margin _30-pixels w-dyn-list">
        <div role="list" class="flex center-mobile w-dyn-items">
          <div role="listitem" class="preview-item w-dyn-item">
            <a data-w-id="de0cae89-0694-080f-c115-51bdb555b226" href="/blog.html" class="post-image-preview w-inline-block">
              <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb9882415d1f00b52fde63c_post-bg.png" loading="lazy" alt="" width="361.5" />
              <div style="
                      background-image: url('https://cdn.prod.website-files.com/5fbbf7da7e4d4aa5761665ce/5fbc15136d10099952d5b764_kam-idris-Ot2iTXgC6fY-unsplash%20(1).jpg');
                    " class="hover-image"></div>
            </a>
            <div class="top-margin _15-pixels">
              <div class="left-padding _10-pixels">
                <a style="background-color: #e3a240; color: white" href="/category/rentals" class="category-lik">Rentals</a>
                <div>
                  <a href="/blog.html" class="post-link">We Are Launching MyRental CMS Webflow Template This Week!</a>
                </div>
                <div class="top-margin _10-pixels">
                  <p>My Rental is a beautiful designed Business Webflow CMS Template.</p>
                </div>
              </div>
            </div>
          </div>
          <div role="listitem" class="preview-item w-dyn-item">
            <a data-w-id="de0cae89-0694-080f-c115-51bdb555b226" href="/blog.html" class="post-image-preview w-inline-block">
              <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb9882415d1f00b52fde63c_post-bg.png" loading="lazy" alt="" width="361.5" />
              <div style="
                      background-image: url('https://cdn.prod.website-files.com/5fbbf7da7e4d4aa5761665ce/5fbc15218078bd20a474e4e4_kam-idris-_HqHX3LBN18-unsplash.jpg');
                    " class="hover-image"></div>
            </a>
            <div class="top-margin _15-pixels">
              <div class="left-padding _10-pixels">
                <a style="background-color: #e3a240; color: white" href="/category/holidays" class="category-lik">Holidays</a>
                <div>
                  <a href="/blog.html" class="post-link">5 Things To See When You Buy Your First Rental Property</a>
                </div>
                <div class="top-margin _10-pixels">
                  <p>My Rental is a beautiful designed Business Webflow CMS Template.</p>
                </div>
              </div>
            </div>
          </div>
          <div role="listitem" class="preview-item w-dyn-item">
            <a data-w-id="de0cae89-0694-080f-c115-51bdb555b226" href="/blog.html" class="post-image-preview w-inline-block">
              <img src="https://cdn.prod.website-files.com/5fb94d66e5e1d8ea7d729c38/5fb9882415d1f00b52fde63c_post-bg.png" loading="lazy" alt="" width="361.5" />
              <div style="
                      background-image: url('https://cdn.prod.website-files.com/5fbbf7da7e4d4aa5761665ce/5fbc1189b84e9e0fd539d884_kam-idris-kyt0PkBSCNQ-unsplash%20(1).jpg');
                    " class="hover-image"></div>
            </a>
            <div class="top-margin _15-pixels">
              <div class="left-padding _10-pixels">
                <a style="background-color: #e3a240; color: white" href="/category/airb-b" class="category-lik">Airb&amp;b</a>
                <div>
                  <a href="/blog.html" class="post-link">Rental Friendly Practices For Your Guests</a>
                </div>
                <div class="top-margin _10-pixels">
                  <p>My Rental is a beautiful designed Business Webflow CMS Template.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>